html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}

.coMatch-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(../../public/images/main-Photoroom.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
